<div class="mytoolbar">
  <div class="mytoolbartitle">
    Chart.js
    <div>
      <a mat-list-item [routerLink]="['/home']">
        <span>Home</span>
      </a>
    </div>
    <div>
      <a mat-list-item [routerLink]="['/chartbarsimple']">
        <span>Bar</span>
      </a>
    </div>
    <div>
      <a mat-list-item [routerLink]="['/chartbardouble']">
        <span>Bar double</span>
      </a>
    </div>
    <div>
      <a mat-list-item [routerLink]="['/chartlinesimple']">
        <span>Line</span>
      </a>  
    </div>
    <div>
      <a mat-list-item [routerLink]="['/chartlinedouble']">
        <span>Line double</span>
      </a>  
    </div>
    <div>
      <a mat-list-item [routerLink]="['/chartpie']">
        <span>Pie</span>
      </a>  
    </div>
    <div>
      <a mat-list-item [routerLink]="['/chartstacked']">
        <span>Stacked</span>
      </a>  
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>