<div class="pagecontainer"> 
  <h2 class="reportTitle">Chart stacked</h2>
  <button mat-raised-button color="secondary" (click)="onSaveImaget()">Salva immagine</button>

  <div class="reportPanelGrafico">  
    <div class="chart-container" style="width:70%; height:100%">
        <canvas class="chart" #canvasRef></canvas>
    </div> 
  </div>

  <div class="pageFootLink">
    <a href="https://github.com/mastefano64/angular-chartjs" target="_blank">Progetto su GitHub</a>
    &nbsp;&nbsp;-&nbsp;&nbsp;
    <a href="https://github.com/mastefano64/angular-chartjs/blob/master/src/app/component/chartstacked/chartstacked.component.ts" target="_blank">Codice componente su GitHub</a>
  </div>
</div>
